/* TABLET */
@media screen and (min-width: 640px) {
    .side-bar-sm{
        display: none;
    }

    .side-bar-full {
        width: 160px;
        display: flex;
    }
    .top-bar-cont {
        width: calc(100vw - 160px);
    }
    .content {
        width: calc(100vw - 160px);
    }

    .down-bar {
        padding: 0 1rem;
    }
}

/* DESKTOP */
@media screen and (min-width: 870px) {
    .col-cover {
        width: 21%;
    }
}

/* LARGE DESKTOP */
@media screen and (min-width: 1200px) {
    .col-cover {
        width: 14%;
        margin-right: 2.5%;
    }
}