/* TABLET */
@media screen and (min-width: 640px) {
    .side-bar-sm{
        display: none;
    }

    .side-bar-full {
        width: 160px;
        display: flex;
    }
    .top-bar-cont {
        width: calc(100vw - 160px);
    }
    .content {
        width: calc(100vw - 160px);
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {

}

/* LARGE DESKTOP */
@media screen and (min-width: 1200px) {
    
}